    body {
      background-color: #1c1c1c;
      color: #fff;
      font-family: "Inter", sans-serif;
    }
    .meeting-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
    }
    .meeting-header .left h6 {
      color: #aaa;
      font-size: 14px;
      margin-bottom: 5px;
    }
    .meeting-header .left p {
      margin: 0;
      font-weight: 500;
    }
    /* .meeting-header .right {
     
    } */
    .user-info {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #2e2e2e;
      padding: 6px 12px;
      border-radius: 30px;
      margin-top: -3%;
      
    }



    .user-info img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      object-fit: cover;
    }
    .video-grid {
      display: flex;
      justify-content: center;
      gap: 40px;
      padding: 40px;

    }
    .video-box {
      background: #bfbfbf;
      width: 45%;
      aspect-ratio: 16 / 9;
      border-radius: 25px;
      position: relative;
    }
    .video-name {
      position: absolute;
      bottom: 10px;
      left: 15px;
      color: #000;
      font-weight: 500;
      font-size: 14px;
    }
    .fullscreen-icon {
      position: absolute;
      top: 10px;
      right: 15px;
      color: #000;
      font-size: 18px;
      cursor: pointer;
    }

    .left{
        margin-left: -15%;
    }


    
    .nav-btn {
      width: 40px;
      height: 40px;
      background-color: #666;
      border-radius: 8px;
      margin: 0 5px;
      display: inline-block;
    }
    .navbar-custom {
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #212121;
    }
    .center-group {
      display: flex;
      justify-content: center;
      align-items: center;
    }
















    