.background-image{
    background-image: url('file:///C:/Users/bawak/OneDrive/Desktop/new%20website%20with%20mam/Screenshot%202025-11-11%20195316.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   height: 100vh;
}

.team-image{
    padding-top: 50px;
}

   .login-card {
      background: #fff;
      border-radius: 10px;
      padding: 2rem;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
    }
    .btn-login {
      background-color: #4b47f5;
      color: white;
      width: 100px;
    }
    .btn-login:hover {
      background-color: #3733d3;
    }
    .form-text {
      font-size: 0.8rem;
      color: #999;
    }

    .sec-login{
        margin-left: 32%;
        margin-top: -105px;
        
    }


.background-color {
  background: rgb(229, 229, 229);
  height: 80px;
  margin: 0;
  padding: 0;
}

.icoon {
  margin-left: -40px;
}

    .signin-btn {
      border-radius: 50px; /* Rounded pill shape */
      padding: 8px 18px;
      background-color: #fff;
      border: 1px solid #ddd;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
    }

    .signin-btn:hover {
      background-color: #f8f9fa;
      border-color: #ccc;
    }











