body{
    background-image: url('file:///C:/Users/bawak/OneDrive/Desktop/new%20website%20with%20mam/Screenshot%202025-11-11%20195316.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.signin-btn {
      border-radius: 50px; 
      padding: 8px 18px;
      background-color: #fff;
      border: 1px solid #ddd;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      margin-top: -20%;
      margin-left: 45%;
    }

    .signin-btn:hover {
      background-color: #f8f9fa;
      border-color: #ccc;
    }

        .card {
      border: none;
      border-radius: 12px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      text-align: center;
      padding: 40px 30px;
           display: flex;
      align-items: center;
      justify-content: center;
      height: 50vh;
      width: 50%;
      margin-left: 25%;
      margin-top: 12%;
    }
    .icon-circle {
      background-color: #3b3bdb;
      color: white;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      font-size: 30px;
      margin-bottom: 20px;
    }